{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% if incorrect_login %}
    <p><font color="red">Incorrect Login, please try again</font> </p>
    <p><font color="red">{{login_attempts}}/5 attemps remaing</font> </p>
{% elif hard_lock %}
    <p><font color="red">This account is locked out</font> </p>
    <p><font color="red">Please contact an administrator to unlock your account</font> </p>
{% elif user_locked_out %}
    <p><font color="red">This account is locked out</font> </p>
    <p><font color="red">It will be unlocked in {{time}} minutes</font> </p>
    <p><font color="red">You have been locked out {{lockouts}} times, 3 locks and you need to contact an admin to unlock</font> </p>
{% elif not_found %}
    <p><font color="red">Incorrect Login</font></p>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Login</legend>
        <input type="hidden" name="logon" value=True>
        Username: <input type="text" name="username">
        Password: <input type="password" name="password">
        <input type="submit">
    </fieldset>
</form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a href="register">Register</a>
        </small>
    </div>
{% endblock content %}
